<?php
$title = "Seafood Quality Control - Seafood Freshness Assay Kit - Fish Freshness Assay Kit - K value";
require_once "app/templates/base.php";

$novoblue = "#4167b1";

global $path_way;
$path_way = ["home", "Freshness Assay Kits", "Fish Freshness Assay Kit"];

addContent(Banner::gen());
$content_title = UnderlinedTitle::get("Measure nucleotides to assess seafood quality", "novoblue", "right");

$page_content = <<<CONTENT
<section class="container mt-5">
    <h2 class="underlinedTitle right">
        <span class="underlined novoblue right">Measure nucleotides to assess seafood quality</span>
    </h2>
    <div class="row">
        <div class="col-lg-6">
            <p>
                Since seafood and fish are highly perishable products, the quality of raw material is of primary concern for seafood processing industry. Testing raw material is first main stage of currently used procedure of Quality Control.
            </p>
            <p>
                While sensory analysis allows rapid evaluation of the quality of whole wet fish, the assessment of the quality of frozen fish, or that of frozen blocks of fillets or crumbed seafood products remains more difficult.
            </p>
        </div>
        <div class="col-lg-6 text-center">
            <img class="w-100" src="/app/static/img/ADK_Assay_Kit_Principle.png" alt="ADK Assay Kit reaction schema" />
            <h4 class="novo-blue">PRECICE® ADK Assay Kit</h4>
            <h5>Ref. #K0507-01</h5>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="col-lg-10 col-12">
                <table class="table product mb-2">
                    <thead>
                        <tr>
                            <th>#REF</th>
                            <th class="text-center">SIZE</th>
                            <th class="text-center">PRICE</th>
                            <th class="pe-5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#K0507-01.01</td>
                            <td class="text-center"><strong>1 plate (96 assays)</strong></td>
                            <td class="price text-center">€ 420.00</td>
                            <td class="text-end pe-3">
                                <a
                                    class="btn btn-primary"
                                    href="/inquiry?ref=K0709-01-2&product=PRECICE PRPP-S Assay Kit">
                                    Inquiry
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#K0507-01.05</td>
                            <td class="text-center"><strong>5 plates (5 x 96 assays)</strong></td>
                            <td class="price text-center">€ 1,680.00</td>
                            <td class="text-end pe-3">
                                <a
                                    class="btn btn-primary"
                                    href="/inquiry?ref=K0709-01-2&product=PRECICE PRPP-S Assay Kit">
                                    Inquiry
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-muted text-center">
                    <em>Pricing updated December 25th, 2013.</em>
                    <br />
                </p>
                <p class="text-center">
                    <strong>
                        Kit is provided in stable lyophilized form and
                        <span class="text-danger">shipped without dry ice</span>
                    </strong>
                </p>
                <p class="mt-4 mb-5 text-end">
                    Download
                    <a target="_blank" href="/app/documents/NovoCIB K0507-01-User Manual 121217 - one plate.pdf">
                        <strong>In vitro ADK asssay protocol</strong>
                        <i class="fa-regular fa-file-pdf"></i>
                    </a>
                    (User manual)
                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="novo-blue ms-5 mb-3 text-center">Key Features</h2>
            <div class="col-lg-3 text-center bg-light pt-3">
                <h4 class="novo-blue">Convenient</h4>
            </div>
            <div class="col-lg-9 bg-light d-flex justify-content-center">
                <ul>
                    <li>Non-radioactive</li>
                    <li>Homogenous</li>
                    <li>Continuous absorbance monitoring at 340nm</li>
                </ul>
            </div>
            <div class="col-lg-3 text-center pt-3">
                <h4 class="novo-blue">Quantitative</h4>
            </div>
            <div class="col-lg-9 d-flex justify-content-center">
                <ul class="py-3">
                    <li>
                        The IMP is immediately transformed into NADH2 in a quantitative manner allowing for accurate
                        kinetic analysis
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 text-center bg-light pt-3">
                <h4 class="novo-blue">High-Throughput Format</h4>
            </div>
            <div class="col-lg-9 bg-light d-flex justify-content-center">
                <ul>
                    <li>The assay is performed in standard multi-well microplates</li>
                    <li>Utilizes commun plate reader fitted with 340nm filter</li>
                    <li>Meets the requirements of a HTS assay (Z' factor 0.68)</li>
                </ul>
            </div>
            <div class="col-lg-3 text-center pt-3">
                <h4 class="novo-blue">Reliable</h4>
            </div>
            <div class="col-lg-9 d-flex justify-content-center">
                <ul class="py-3">
                    <li>
                        Validated with known ADK inhibitor A-134974 and nucleoside analog ribavirin known to be
                        phosphorylated by adenosine kinase
                    </li>
                </ul>
            </div>
            <p class="my-5 text-center">
                For rapid analysis of in vitro phosphorylation of novel nucleoside analogs for human adenosine kinase
                see our
                <a href="/convenient-assay-kits/adk-phosphorylation-assay-kit">
                    PRECICE® ADK Phosphorylation Assay Kit.
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </p>
        </div>
    </div>
</section>

<section class="bg-light py-3">
    <div class="container">
        <div class="mb-5">
            <h5>ADK role in human body</h5>
            <p>
                Adenosine kinase is a ubiquitous enzyme regulating intra- and extracellular concentrations of adenosine
                (AR), an important modulator of central nervous system functions and a signal molecule involved in
                hypoxia, inflammation and nociception. Together with adenosine demainase, adenosine kinase regulates
                intra- and extracellular cellular adenosine concentration. Inhibition of adenosine kinase results in
                selective increase of local adenosine concentrations and reduced seizure susceptibility and nociception
                in vivo(3). ADK dysfunction is involved in several pathologies, including diabetes(13), epilepsy(6), and
                cancer. Consequently, ADK emerges as a rational therapeutic target, and adenosine-regulating drugs have
                been extensively tested (1) as new analgesic and anti-inflammatory agents(4) to treat schizophrenia(7)
                or to limit brain injury after an ischemic stroke(8).
            </p>
        </div>
        <div>
            <h5>Validation</h5>
            <p>
                The use of
                <strong>PRECICE® ADK Screening Assay Kit</strong>
                for the screening of ADK inhibitors and IC50 measurements was validated with compound A-134974, a known
                ADK inhibitor (Sigma-Aldrich, under license from Abbott Laboratories). Z'-Factor was calculated from 44
                negative (no ADK inhibition) and positive (inhibition of ADK with 500nM A-134974) and measured as 0.68,
                which is an excellent level of performance for a screening assay
            </p>
            <div class="d-flex justify-content-center">
                <figure class="col-lg-7">
                    <img
                        src="/app/static/img/ADK_Inhibition_Curve.png"
                        alt="ADK Inhibition Curve Graph"
                        class="w-100" />
                    <figcaption class="text-center">
                        <strong>ADK Inhibition curve with compound A-134974 at 12 different concentrations.</strong>
                        <br />
                        All data points represent the mean (+/-SD) of 8 wells (2 wells - duplicate - on 4 independent
                        plates). IC50 was determined by fitting a 4-parameter non-linear curve to the data with
                        least-square method. IMPDH activity assays were run to confirm that IMPDH is not inhibited by
                        compound A-134974 (data not shown
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>


CONTENT;

addContent($page_content);
render();


?>

<style>
    .nucleoside-analogues {
        border: 1px solid silver;

        tr {
            border: 1px solid silver;
        }

        th {
            padding: 12px 0;
        }

        th,
        td {
            text-align: center;

        }
    }
</style>