<?php
$title = "Continuous Spectrophotometric Phosphatase Assay Kit";
require_once "app/templates/base.php";

$novoblue = "#4167b1";




addContent(Banner::gen());
$content_title = UnderlinedTitle::get("Continuous Phosphatase Assay", "novoblue", "right");
$page_content = <<<CONTENT
<main class="container mt-5">
$content_title
<div class="row">
    <div class="col-lg-6">
        <p>
            <strong>PRECICE® Phosphatase Assay Kit</strong>
            developed by
            <strong class="novo-blue">NOVOCIB</strong>
            is a continuous spectrophotometric enzyme assay to monitor activity of any enzymes liberating inorganic
            phosphate (Pi) during enzymatic reactions. The kit can be used for:
        </p>
        <ul>
            <li>Phosphatase activity assay</li>
            <li>Alkaline phosphatase activity</li>
            <li>Protein phosphatases activity assay</li>
            <li>ATPase assay</li>
            <li>GTPases assay</li>
            <li>Helicases assay.</li>
        </ul>
        <h4 class="novo-blue">Principle:</h4>
        <p>
            The release of inorganic phosphate is measured through coupling to PNP-XDH enzymatic system. In the presence
            of inorganic phosphate, PNP (purine nucleoside phosphorylase) catalyzes inosine phosphorolysis leading to
            the formation of hypoxanthine and P-ribose. XDH enzyme catalyzes irreversible oxidation of hypoxanthine to
            uric acid with simultaneous reduction of NAD to NADH2, measurable by absorbance at 340nm. The formation of
            NADH2 is continuously monitored spectrophotometrically at 340nm. The assay is linear in 5-300µM range.
        </p>
    </div>
    <div class="col-lg-6 text-center">
        <img
            class="w-100"
            src="/app/static/img/Phosphatase_Assay_Principle.png"
            alt="Phosphatase Assay Kit Principle reaction schema"
            title="Phosphatase Assay Kit Principle" />
        <h4 class="novo-blue">PRECICE® Phosphatase Assay Kit</h4>
        <h5>Ref. #K0211-01</h5>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="col-lg-10 col-12">
            <table class="table product mb-2">
                <thead>
                    <tr>
                        <th>#REF</th>
                        <th class="text-center">SIZE</th>
                        <th class="text-center">PRICE</th>
                        <th class="pe-5"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#K0211-01</td>
                        <td class="text-center"><strong>1 plate (96 assays)</strong></td>
                        <td class="price text-center">€ 410.00</td>
                        <td class="text-end pe-3">
                            <a class="btn btn-primary" href="/inquiry?ref=K0709-01-2&product=PRECICE PRPP-S Assay Kit">
                                Inquiry
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-muted text-center">
                <em>Pricing updated December 25th, 2013.</em>
                <br />
            </p>
            <p class="text-center">
                <strong>
                    Kit is provided in stable lyophilized form and
                    <span class="text-danger">shipped without dry ice</span>
                </strong>
            </p>
            <p class="my-4 text-center">
                <strong>
                    You can ask us for a quotation
                    <a href="mailto:contact@novocib.com">
                        Here
                        <i class="fa-solid fa-envelopes-bulk"></i>
                    </a>
                    or write at
                    <a href="mailto:contact@novocib.com">contact@novocib.com</a>
                </strong>
            </p>
            <p class="mt-4 mb-5 text-end">
                Download
                <a target="_blank" href="/app/documents/NovoCIB K0507-01-User Manual 121217 - one plate.pdf">
                    <strong>Our User Manual</strong>
                    <i class="fa-regular fa-file-pdf"></i>
                    <i class="fa-solid fa-download"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <h2 class="novo-blue mb-3 text-center">Key Features</h2>
        <div class="col-lg-3 text-center bg-light pt-3">
            <h4 class="novo-blue">Convenient</h4>
        </div>
        <div class="col-lg-9 bg-light d-flex justify-content-center">
            <ul>
                <li>Non-radioactive</li>
                <li>Homogenous</li>
                <li>Continuous absorbance monitoring at 340nm</li>
            </ul>
        </div>
        <div class="col-lg-3 text-center pt-3">
            <h4 class="novo-blue">Quantitative</h4>
        </div>
        <div class="col-lg-9 d-flex justify-content-center">
            <ul class="py-3">
                <li>
                    The IMP is immediately transformed into NADH2 in a quantitative manner allowing for accurate kinetic
                    analysis
                </li>
            </ul>
        </div>
        <div class="col-lg-3 text-center bg-light pt-3">
            <h4 class="novo-blue">Continuous</h4>
        </div>
        <div class="col-lg-9 bg-light d-flex justify-content-center">
            <ul>
                <li>Activity is measured through continuous montoring of absorbance at 340nm</li>
            </ul>
        </div>
        <div class="col-lg-3 text-center pt-3">
            <h4 class="novo-blue">Convenient</h4>
        </div>
        <div class="col-lg-9 d-flex justify-content-center">
            <ul class="">
                <li>Tolerant to contamination of ware and reagents by inorganic phosphate</li>
                <li>Homogenous</li>
                <li>Non radioactive</li>
                <li>Wide pH range</li>
                <li>Compatible with reducing agents</li>
            </ul>
        </div>
        <div class="col-lg-3 text-center bg-light pt-3">
            <h4 class="novo-blue">Quantitative</h4>
        </div>
        <div class="col-lg-9 bg-light d-flex justify-content-center">
            <ul>
                <li>Wide linearity range (5-300µM)</li>
            </ul>
        </div>
        <div class="col-lg-3 text-center pt-3">
            <h4 class="novo-blue">High-Throughput Analysis</h4>
        </div>
        <div class="col-lg-9 d-flex justify-content-center">
            <ul class="">
                <li>The assay is performed in standard multi-well microplates</li>
                <li>Non Readout is peformed with plate reader fitted with 340nm filter</li>
            </ul>
        </div>
        <div class="col-lg-3 text-center pt-3">
            <h4 class="novo-blue">Specific</h4>
        </div>
        <div class="col-lg-9 d-flex justify-content-center">
            <ul class="py-3">
                <li>Only inorganic phosphate is quantified</li>
            </ul>
        </div>
    </div>
</div>
</main>
CONTENT; addContent($page_content); render(); ?>

<style>
    .nucleoside-analogues {
        border: 1px solid silver;

        tr {
            border: 1px solid silver;
        }

        th {
            padding: 12px 0;
        }

        th,
        td {
            text-align: center;
        }
    }
</style>
